.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        }

.header ul {
    display: flex;
    flex-direction: row;
}

ul li{
    list-style: none;
    align-content: space-around;
}

.gifcabecera {
    justify-content: center;

}
