        body {
            margin: 0;
        }
        
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            width: 100%;
            position: fixed;
            background: white;
            box-shadow: 0 8px 12px rgb(0 0 0 / 50%), 0 16px 40px rgb(0 0 0 / 50%);
        }
        
        .header img {
            width: 120px;
            height: 60px;
        }
        
        .header ul {
            display: flex;
            flex-direction: row;
        }
        
        .header ul li {
            list-style: none;
            display: flex;
            margin: auto;
        }
        
        .header ul a {
            text-decoration: none;
            font-family: Comfortaa;
            padding: 23px 20px 19px 23px;
            color: #ef2828;
        }
        
        .header ul a:hover {
            color: white;
            background: #998D8D;
            box-shadow: 0 8px 12px rgb(0 0 0 / 50%), 0 16px 40px rgb(0 0 0 / 50%);
        }
        
        .gifcabecera {
            width: 100%;
            padding-top: 60px;
        }
        
        .gifcabecera img {
            width: 100%;
            border-radius: 300px 0px 300px 0px;
            box-shadow: 0 8px 12px rgb(0 0 0 / 50%), 0 16px 40px rgb(0 0 0 / 50%);
        }
        
        .personalempresa {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 30px;
        }
        
        .personalempresa h3,
        h4 {
            font-family: Comfortaa;
            text-align: center;
        }
        
        .imgperfil {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            box-shadow: 0 4px 8px rgb(0 0 0 / 20%), 0 12px 20px rgb(0 0 0 / 20%);
        }
        
        .cuadradopersona {
            padding-left: 60px;
            padding-top: 40px;
        }
        
        .imgperfil img {
            width: 100%;
            border-radius: 50%;
        }
        
        .icon {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        
        .icon a {
            display: flex;
            width: 25px;
            height: 25px;
            padding: 0 5px 20px 0;
        }
        
        .personalempresa p {
            display: flex;
            text-align: center;
            align-self: center;
            font-family: handlee, arial;
            font-size: 25px;
            width: 70%;
            padding: 0px 40px 0px 0;
        }
        
        .separator {
            align-items: center;
            border-bottom: 1px solid #EF2828;
            display: flex;
            margin: 20px 16px;
        }
        
        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .footer a {
            text-decoration: none;
            font-family: Comfortaa;
            color: #5c5657;
        }
        
        .footer a:hover {
            color: #EF2828;
        }
        
        .footer p {
            font-family: Comfortaa;
            text-align: center;
            line-height: 1.5;
        }
        
        .copyright {
            font-family: Comfortaa;
        }
        
        @media (min-width: 300px) and (max-width: 767px) {
            .copyright {
                text-align: center;
                font-size: 12px;
            }
            .footer p {
                font-size: 10px;
                padding: 0 5px 5px 5px;
            }
            .cuadradopersona {
                padding: 40px 0 0 0;
            }
            .personalempresa p {
                font-size: 20px;
                padding: 0;
            }
            .personalempresa {
                padding: 0;
                justify-content: center;
            }
            .header {
                position: absolute;
            }
            .header ul a {
                text-align: center;
                font-size: 12px;
                padding: 0;
            }
        }
        
        @media (min-width: 768px) and (max-width: 1024px) {
            .copyright {
                text-align: center;
                font-size: 12px;
            }
            .footer p {
                font-size: 14px;
                padding: 0 5px 5px 5px;
            }
            .cuadradopersona {
                padding: 40px 0 0 0;
            }
            .personalempresa p {
                font-size: 25px;
                padding: 0;
            }
            .personalempresa {
                padding: 0;
                justify-content: center;
            }
            .personalempresa h3 {
                font-size: 25px;
            }
            .personalempresa h4 {
                font-size: 18px;
            }
            .header {
                position: absolute;
            }
            .header ul a {
                text-align: center;
                font-size: 12px;
                padding: 10px;
            }
        }