.centrar{

width: 100%;
}




.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    
        }

.header img {
    width: 120px;
    height: 60px;
}

.header ul {
    display: flex;
    flex-direction: row;
}

.header ul li {
    list-style: none;
    display: flex;
    padding-left: 10px;
    padding-right: 50px;
    margin: auto;

}

.header ul a {
    text-decoration: none;
    font-family: Comfortaa;
}


.gifcabecera {
   width: 100%; 
     
}

.gifcabecera img {
    width: 100%;
}


.header ul a:hover {
    color: #EF2828;

}